@media (min-widht: 1200px) {
    container {
        max-width: 1440px !important;
    }
}
table {
    table-layout: fixed;
}
td{
    vertical-align: middle;
}

small {
    display: block;
    color: red;
}